extends layout

block content
  h1 About Us 
  p
    |Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus autem sapiente mollitia neque, eius suscipit nesciunt necessitatibus dicta at earum praesentium quidem nihil odit hic, architecto soluta assumenda optio sequi.

  p
    |Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus autem sapiente mollitia neque, eius suscipit nesciunt necessitatibus dicta at earum praesentium quidem nihil odit hic, architecto soluta assumenda optio sequi.
    


